body:has(.modalWindow[open]) {
  overflow: hidden;
}

.modalWindow {
  margin: auto;
  transition:
    opacity 1s ease,
    transform 0.5s ease;
  max-width: calc(100vw - 32px);
  max-height: calc(100dvh - 32px);
  overflow: auto;
  border: none;
  background: var(--modal-surface-color);
}

.contentWrapper {
  display: flex;
  width: min(56.25rem, calc(100vw - 32px));
}

.modalWindow[open] {
  opacity: 1;
  transform: translateX(0);
  @starting-style {
    opacity: 0;
    transform: translateX(10px);
  }
}

.modalWindow::backdrop {
  background-color: var(--modal-backdrop-color);
  backdrop-filter: blur(2px);
  transition: opacity 0.5s allow-discrete;
  cursor: pointer;
}

.modalWindow[open]::backdrop {
  opacity: 1;
  @starting-style {
    opacity: 0;
  }
}

.modalWindow.closingModal,
.modalWindow.closingModal::backdrop {
  opacity: 0;
  transition: opacity 0.5s allow-discrete;
}

.suspense {
  color: var(--modal-suspense-text-color);
}

.closeButton {
  position: absolute;
  right: 15px;
  top: 10px;
  color: var(--modal-close-button-text-color);
  background-color: transparent;
  border: none;
  font-size: var(--modal-close-button-font-size);
  line-height: 1;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.closeButton:hover {
  transform: scale(130%) rotate(5deg);
}

.closeButton:focus-visible {
  outline: 3px solid var(--brown);
}

.modalWindow:focus-visible {
  outline: none;
}
