body:has(.modalWindow[open]) {
  overflow: hidden;
}

.modalWindow {
  margin: auto;
  transition:
    opacity 2s ease,
    transform 0.5s ease;
  overflow: visible;
  border: none;
}

.modalContent {
  display: flex;
  width: 50rem;
  height: 30.55rem;
  background: #030303;
}

.image {
  flex: 1;
  background-color: green;
}

.descriptionContainer {
  flex: 1;
}

.modalWindow[open] {
  opacity: 1;
  transform: translateX(0);
  @starting-style {
    opacity: 0;
    transform: translateX(10px);
  }
}

.modalWindow::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  transition: opacity 0.5s allow-discrete;
}

.modalWindow[open]::backdrop {
  opacity: 1;
  @starting-style {
    opacity: 0;
  }
}

.modalWindow.closingModal,
.modalWindow.closingModal::backdrop {
  opacity: 0;
  transition: opacity 0.5s allow-discrete;
}

.suspense {
  color: green;
}
