.select {
  position: relative;
}

.openButton {
  font-family: inherit;
  color: var(--white);
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid var(--secondary-color);
  padding: 1rem 30px;
  width: 350px;
  border-radius: 15px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.openButton:hover {
  background-color: rgba(249, 220, 196, 0.8);
  color: var(--black);
}

.buttonArrow {
  transform: rotate(180deg);
  color: var(--secondary-color);
  transition:
    color 0.3s ease,
    transform 0.5s ease;
}

.openButton:hover .buttonArrow {
  color: var(--black);
}

.select.isOpen .buttonArrow {
  transform: rotate(360deg);
}

.selectList {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  width: 85%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--black);
  z-index: 1;
  border-right: 1px solid var(--secondary-color);
  border-left: 1px solid var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
  /* opacity: 0; */
}

.selectItem {
  font-size: 1rem;
  padding: 8px 15px;
  transition:
    background-color 0.1s ease,
    color 0.1s ease,
    padding 0.2s ease;
  cursor: pointer;
}

.selectItem.selected {
  background-color: var(--secondary-color);
  color: var(--black);
}

.isHighlighted {
  background-color: rgba(249, 220, 196, 0.5);
  padding: 8px 20px 8px 20px;
}
