.menu {
  width: 100%;
  overflow: hidden;
  opacity: 0;
  border-top: 1px solid var(--primary-color);
}

.menuCoverBlock {
  position: absolute;
  width: 200%;
  height: 100%;
  background-color: var(--black);
  right: 0;
  z-index: 1;
  transform-origin: top right;
  transform: rotate(-2deg) translateY(-5%);
}
