.section {
  position: relative;
  background-color: var(--address-section-background-color);
  padding: 130px 10px;
  display: grid;
  grid-template-columns: max-content minmax(0, 815px);
  grid-template-areas:
    "heading map"
    "address map";
  gap: 70px 66px;
  justify-content: center;
  overflow: hidden;
}

.heading {
  visibility: hidden;
  font-weight: var(--address-heading-font-weight);
  grid-area: heading;
  justify-self: center;
  align-self: flex-end;
  color: var(--brown);
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 70px;
  align-items: center;
  grid-area: address;
  transition: transform 0.3s ease;
}

.contentWrapper:focus-visible {
  outline: 3px solid var(--primary-color);
}

.mapWrapper {
  display: block;
  grid-area: map;
}

.map {
  min-width: 0;
  max-width: 815px;
  width: 100%;
  display: block;
  justify-self: center;
  align-self: center;
  object-fit: cover;
  object-position: center;
  height: 500px;
}

.mapWrapper:focus-visible {
  outline: 12px solid var(--primary-color);
}

.address {
  color: var(--brown);
  font-family: var(--address-text-font-family);
  font-size: var(--address-text-font-size);
  font-weight: var(--address-text-font-weight);
  white-space: nowrap;
  position: relative;
  animation: addressPulse 6.6s cubic-bezier(0.33, 1, 0.68, 1) 1s infinite;
  will-change: transform;
  transform: scale(1);
}

.contentWrapper:hover {
  transform: scale(1.05);
}


.wazeIcon {
  user-select: none;
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
  transform: translateY(-100%) translateX(100%);
  transition: transform 0.3s ease;
}

/* регистрация переменных угла */
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

/* внешний контейнер (сцена + тень на полу) */
.plateWrapper {
  perspective: 900px;
  position: relative;
  width: 230px;
  height: 230px;
  min-width: 230px;
  min-height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* анимируемый 3D-контейнер */
.plate {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  z-index: 1;

  /* вычисление бесконечно плавного 3D-перекатывания */
  transform: rotateX(calc(22deg * cos(var(--angle))))
    rotateY(calc(22deg * sin(var(--angle))));

  animation: rollCircle 6s linear infinite;
}

/* задняя сторона (дно) */
.stickerBack {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  transform: translateZ(0px);
  background: linear-gradient(
    to bottom right,
    var(--address-plate-back-gradient-start-color),
    var(--address-plate-back-gradient-end-color)
  );
  border: 1px solid var(--address-sticker-back-border-color);
}

/* лицевая сторона с логотипом */
.plateContent {
  position: absolute;
  inset: 0;
  border-radius: 50%;

  /* выдвигаем лицевую сторону вперед по оси Z для создания объёма */
  transform: translateZ(24px);

  background-color: var(--address-plate-content-background-color);
  border: 1px solid var(--address-plate-content-border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: inset 0 0 12px var(--address-plate-content-box-shadow-color);
}

/* световой блик поверх логотипа */
.plateContent::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: linear-gradient(
    135deg,
    var(--address-plate-highlight-start-color) 0%,
    var(--address-plate-highlight-middle-color) 50%,
    var(--address-plate-highlight-end-color) 100%
  );
  pointer-events: none;
}

.logo {
  width: 100%;
  height: 100%;
}

.headerWrapper {
  position: relative;
  display: inline-block;
  padding: 16px 32px;
}

.borderSvg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: visible;
}

.borderRect {
  fill: none;
  stroke: var(--address-border-rect-stroke-color);
  stroke-width: 2px;
  stroke-linecap: round;
  opacity: 0;
}

/* цикличная анимка */
@keyframes rollCircle {
  to {
    --angle: 360deg;
  }
}

@media (max-width: 900px) {
  .section {
    gap: 70px 24px;
  }

  .heading {
    font-size: var(--address-heading-font-size-to-900);
  }

  .address {
    font-size: var(--address-text-font-size-to-900);
  }

  .wazeIcon {
    bottom: 0%;
    left: 50%;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 40px 10px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "heading heading"
      "map map"
      "address address";
    gap: 50px 0;
  }

  .contentWrapper {
    flex-direction: row-reverse;
    gap: 40px;
    justify-self: center;
  }

  .address {
    font-size: var(--address-text-font-size-to-768);
    white-space: wrap;
    text-align: center;
  }

  .plateWrapper {
    width: 180px;
    height: 180px;
    min-width: 180px;
    min-height: 180px;
  }
}

@media (max-width: 480px) {
  .section {
    padding: 40px 0;
    grid-template-columns: 1fr;
    grid-template-areas:
      "heading heading"
      "map map"
      "address address";
    gap: 30px 0;
  }

  .heading {
    font-weight: var(--address-heading-font-weight-to-480);
  }

  .contentWrapper {
    padding: 0 10px;
    gap: 40px;
    justify-self: center;
  }

  .address {
    font-size: var(--address-text-font-size-to-480);
  }

  .plateWrapper {
    width: 150px;
    height: 150px;
    min-width: 150px;
    min-height: 150px;
  }
}

@keyframes addressPulse {
  0% {
    transform: scale(1);
  }
  2.27% {
    transform: scale(1.1);
  }

  4.55% {
    transform: scale(1);
  }

  6.82% {
    transform: scale(1.1);
  }

  9.09%,
  100% {
    transform: scale(1);
  }
}
