.sectionContainer {
  background-color: var(--white);
  position: relative;
  height: 85vh;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
}

.maleFace,
.femaleFace {
  width: 320px;
  height: auto;
  position: absolute;
}

.maleFace {
  top: 0;
  left: 0;
}

.femaleFace {
  bottom: 0;
  right: 0;
}

.maleFace path,
.femaleFace path {
  stroke-dasharray: 3000;
  stroke-dashoffset: 0;
  stroke: var(--secondary-color);
  stroke-width: 2px;
}

.headingContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.heading {
  color: var(--primary-color);
  text-align: center;
  font-weight: 400;
  max-width: 1030px;
  z-index: 2;
}

@media (max-width: 1250px) {
  .maleFace,
  .femaleFace {
    width: 230px;
  }
}

@media (max-width: 1050px) {
  .maleFace,
  .femaleFace {
    width: 190px;
  }
}

@media (max-width: 930px) {
  .heading {
    font-size: 36px;
  }
}

@media (max-width: 800px) {
  .maleFace,
  .femaleFace {
    width: 160px;
  }
}

@media (max-width: 800px) {
  .heading {
    font-size: 28px;
  }
}
