.mediaWrapper {
  --media-width: 360px;
  --media-height: 640px;

  position: relative;
  width: var(--media-width);
  height: var(--media-height);
  will-change: transform;
  flex-shrink: 0;
}

.videoWrapper {
  transform-origin: center;
  filter: grayscale(40%) brightness(0.6);
  will-change: transform, filter;
  transition:
    filter 0.3s ease,
    transform 0.3s ease;
  position: relative;
}

.media {
  border-radius: 30px;
  display: block;
  scroll-snap-align: start;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.activeMedia {
  filter: none;
  transform: scale(1.05);
}

.border {
  opacity: 0;
  position: absolute;
  z-index: 1;
  inset: 0;
  overflow: visible;
  transition: opacity 0.5s ease;
  pointer-events: none;
  fill: transparent;
  color: var(--primary-color);
}

.border rect {
  will-change: stroke-dashoffset;
}

.isVisible {
  opacity: 1;
}

.hint {
  position: absolute;
  inset: 0;
  background-color: transparent;
  z-index: 1;
  overflow: hidden;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ripple {
  position: absolute;
  padding: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
}

.wrapper {
  display: flex;
  height: 75%;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  gap: 24px;
}

.hintText {
  font-weight: 600;
  text-align: center;
  width: 210px;
}

.volumeSvg {
  color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}
