.treatmentsSection {
  width: 100%;
  background-color: var(--treatments-section-background-color);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  overflow: hidden;
  padding: 0 0 90px 0;
}

/* .decorativeDescription {
  visibility: hidden;
  position: absolute;
  right: 0;
  font-family: Arial, sans-serif;
  font-size: var(--treatments-decorative-description-font-size);
  max-width: 8.772em;
  height: auto;
  transform: translateX(-50%) translateY(50%) rotate(-25deg);
  color: var(--treatments-decorative-description-text-color);
  z-index: 1;
} */

.decorativeDescription {
  visibility: hidden;
  font-family: Arial, sans-serif;
  font-size: var(--treatments-decorative-description-font-size);
  height: auto;
  color: var(--treatments-decorative-description-text-color);
  margin-bottom: 40px;
}

.treatmentsSection[data-near-viewport="true"] .decorativeDescription {
  font-family: var(--treatments-decorative-description-font-family);
}

.heading {
  visibility: hidden;
  margin: 70px 0 40px 0;
  position: relative;
  color: var(--brown);
}

@media (max-width: 935px) {
  .decorativeDescription {
    font-size: var(--treatments-decorative-description-font-size-to-720);
  }
}

@media (max-width: 470px) {
  .decorativeDescription {
    font-size: var(--treatments-decorative-description-font-size-to-470);
  }
}

@media (max-width: 425px) {
  .decorativeDescription {
    font-size: var(--treatments-decorative-description-font-size-to-425);
  }
}

@media (max-width: 425px) {
  .decorativeDescription {
  }
}
