.carousel {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
  transform: scale(1);
}

.carousel.isScrolling {
  transform: scale(0.4);
}

.mediaContainer {
  height: 700px;
  display: flex;
  gap: 30px;
  align-items: center;
  position: relative;
  opacity: 0;
  transition: opacity 0.5s ease;
  transform: scale(1);
  justify-content: flex-start;
  overflow-y: hidden;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  padding-inline: calc(50% - 180px);
  scroll-padding-inline: calc(50% - 180px);
}

.button {
  position: absolute;
  border: none;
  height: 80px;
  width: 80px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
}

.backButton {
  left: 0;
  transform: translateX(100%);
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.arrow {
  color: var(--white);
}

.forwardButton {
  right: 0;
  transform: translateX(-100%);
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.backButton .arrow {
  transform: rotate(180deg);
}

.outOfViewport {
  opacity: 0;
  pointer-events: none;
}

.forwardButton.outOfViewport {
  transform: translateX(150%);
}

.backButton.outOfViewport {
  transform: translateX(-150%);
}
