@import "./styles/fonts.css";

:root {
  /* Colors */
  --primary-color: #f894a4;
  --secondary-color: #f9dcc4;
  --white: #fdfbfb;
  --black: #161616;
  --cta-button-text: #885c6a;
  /* Spacing */
  --content-container-padding: 40px;

  /* Typography */
  --font-size: 18px;
  --font-size-button: 16px;
  --font-size-links: 18px;
  --font-size-h2: 48px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  /* overscroll-behavior: none; */
  pointer-events: visible;
}

body {
  background-color: var(--white);
  color: var(--white);
  font-family: "Montserrat", system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.5px;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2 {
  font-family: "MontserratAlternates", "Arial", sans-serif;
  font-weight: 400;
}

h2 {
  font-size: var(--font-size-h2);
}
