.welcomeSection {
  position: relative;
}

.backgroundImage {
  z-index: -1;
  display: block;
  height: 100vh;
  width: 100%;
  position: absolute;
  object-fit: cover;
  will-change: transform;
}

.flowHeight {
  height: 95vh;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
}

.welcomeText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 70px;
  gap: 40px;
}

.h1 {
  font-family: "MontserratAlternates";
  max-width: 800px;
  font-size: 96px;
  letter-spacing: 0.04em;
  text-align: center;
}

.address {
  font-weight: 300;
  max-width: 530px;
  text-align: center;
  font-size: 26px;
  line-height: 1.5em;
}

.underlinedText {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  font-size: 30px;
}

.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(70%);
  width: 100%;
  height: 100%;
  color: var(--secondary-color);
}

.clip {
  width: 0;
}

.secondScreen {
  height: 100vh;
  width: 100%;
  background-color: var(--white);
  position: absolute;
  padding-top: 5px;
  z-index: -1;
}

.topLeaf {
  position: absolute;
  right: 0;
}

.bottomLeaf {
  position: absolute;
  bottom: 0;
}
