.sectionContainer {
  background: var(--instagram-section-background-color);
  position: relative;
  width: 100%;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  overflow: hidden;
}

.heading {
  color: var(--instagram-heading-text-color);
  font-size: var(--instagram-heading-font-size);
  text-align: center;
  display: inline;
}

.wrapper {
  display: flex;
  gap: 12px;
  align-items: center;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  background: transparent;
  font-size: var(--instagram-button-wrapper-font-size);
  position: relative;
  width: 262.8px;
  height: 42px;
  cursor: pointer;
  --button-start-width: 51px;
  border-radius: 9px;
}

.toInstButton {
  border-radius: 9px;
  position: absolute;
  z-index: 1;
  display: flex;
  gap: 12px;
  align-items: center;
  background: linear-gradient(
    to right,
    var(--instagram-button-gradient-start-color),
    var(--instagram-button-gradient-end-color)
  );
  overflow: hidden;
  width: var(--button-start-width);
  padding: 12px;
  will-change: width;
  transition: width 0.6s ease;
}

.buttonTextWrapper {
  position: relative;
}

.buttonTextWhite,
.buttonTextBlack {
  font-family: var(--instagram-button-font-family);
  font-size: var(--instagram-button-font-size);
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 0px;
  font-weight: var(--instagram-button-font-weight);
}

.buttonTextWhite {
  color: var(--instagram-button-text-white-text-color);
}

.buttonTextBlack {
  color: var(--instagram-button-text-black-text-color);
  position: absolute;
  transform: translateX(var(--button-start-width));
}

.buttonWrapper:hover .toInstButton,
.buttonWrapper:active .toInstButton,
.buttonWrapper:focus-visible .toInstButton {
  width: 100%;
}

.buttonWrapper:focus-visible {
  outline: 1px solid var(--brown);
}


@media (max-width: 480px) {
  .instIcon {
    width: 30px;
    height: 30px;
  }

  .heading {
    font-size: var(--instagram-heading-font-size-to-480);
  }
}
