.sectionContainer {
  background: var(--white);
  position: relative;
  width: 100%;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  overflow: hidden;
}

.heading {
  color: var(--black);
  font-size: 30px;
  text-align: center;
  display: inline;
}

.wrapper {
  display: flex;
  gap: 12px;
  align-items: center;
}

@media (max-width: 480px) {
  .instIcon {
    width: 30px;
    height: 30px;
  }
}
