.sectionContainer {
  height: 100vh;
  background-color: var(--black);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.contentWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  width: 100%;
  max-width: 920px;
}

.heading {
  text-align: center;
  min-width: 0;
  grid-column: 1 / -1;
}

.select {
  justify-self: start;
}

.button {
  justify-self: end;
}

.beforeAfter {
  grid-column: 1 / -1;
}

@media (max-width: 768px) {
  .contentWrapper {
    grid-template-columns: 1fr;
  }

  .beforeAfter {
    order: 2;
  }

  .button {
    order: 3;
    justify-self: center;
  }

  .select {
    justify-self: center;
  }
}
