.beforeAfterComponent {
  overflow: visible;
  width: 100%;
  max-width: 520px;
  aspect-ratio: 9 / 16;
  justify-self: center;
  position: relative;
  outline: 3px solid var(--primary-color);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ */
}

.afterImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.beforeImage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  clip-path: inset(0 calc(100% - 15px) 0 0);
}

.slider {
  position: absolute;
  height: 100%;
  top: 0;
  left: 15px;
  transform: translateX(-50%);
  cursor: pointer;
  touch-action: none;
  user-select: none;
  color: var(--before-after-slider-color);
  will-change: transform;
  transition: 0.1s transform ease;
  padding: 0 24px;
  -webkit-tap-highlight-color: transparent;
}

.isDragging {
  transform: translateX(-50%);
}

@media (max-width: 370px) {
  .beforeAfterComponent {
    width: 100%;
    max-width: 520px;
    aspect-ratio: 9 / 16;
  }
}
