.beforeAfterComponent {
  overflow: hidden;
  width: 913px;
  height: 495px;
  position: relative;
  outline: 2px solid var(--white);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ */
  overflow: hidden;
}

.afterImage {
  width: 100%;
  display: block;
  object-fit: contain;
}

.beforeImage {
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  clip-path: inset(0 50% 0 0);
  background-image: url("/before.jpg");
}

.slider {
  position: absolute;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  touch-action: none;
  user-select: none;
}
