.introduceSection {
  height: 85vh;
  width: 100%;
  background-color: var(--introduce-section-background-color);
  box-shadow: 0 -10px 100px var(--introduce-section-box-shadow-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--introduce-section-text-color);
  position: sticky;
  top: 0;
  overflow: hidden;
}

.topFlower,
.bottomFlower {
  overflow: visible;
  position: absolute;
  width: 320px;
  height: auto;
}

.topFlower {
  top: 0;
  left: 0;
}

.bottomFlower {
  right: 0;
  bottom: 0;
}

.topFlower path,
.bottomFlower path {
  fill: transparent;
  stroke: var(--introduce-flowers-stroke-color);
  stroke-width: 3px;
}

.topFlower path {
  stroke-dasharray: 2646;
  stroke-dashoffset: 2646;
  transition: stroke-dashoffset 2s;
}

.bottomFlower path {
  stroke-dasharray: 2870;
  stroke-dashoffset: 2870;
  transition: stroke-dashoffset 2s;
}

.heading {
  visibility: hidden;
  color: var(--introduce-heading-text-color);
  max-width: 1000px;
  text-align: center;
  font-weight: var(--introduce-heading-font-weight);
}

.letter {
  will-change: transform, opacity;
  backface-visibility: hidden;
}

@media (max-width: 1250px) {
  .topFlower,
  .bottomFlower {
    width: 250px;
  }
}

@media (max-width: 700px) {
  .topFlower,
  .bottomFlower {
    width: 190px;
  }
}

@media (max-width: 450px) {
  .heading {
    font-size: var(--introduce-heading-font-size-to-450);
  }
}
