.button {
  padding: 20px;
  border-bottom: 1px solid var(--primary-color);
  width: 100%;
  position: relative;
  background: transparent;
  overflow: hidden;
  cursor: pointer;
}

.buttonText {
  transform: translateX(0);
  color: var(--white);
  display: inline-flex;
  z-index: 1;
  transition: transform 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.button:hover .buttonText {
  transform: translateX(15px);
}

.movingBlock {
  position: absolute;
  inset: 0;
  background-color: var(--primary-color);
  top: 0;
  overflow: hidden;
  transition: transform 0.6s cubic-bezier(0, 0, 0.2, 1);
  transform: translateY(-100%);
  color: var(--black);
  z-index: 2;
}

.movingBlock .text {
  font-weight: 600;
  padding: 20px;
  inset: 0;
  position: absolute;
  top: 0;
  color: var(--black);
  transition: transform 0.6s cubic-bezier(0, 0, 0.2, 1);
  transform: translateY(100%) translateX(0);
}

.movingArrow {
  position: absolute;
  right: 50px;
  top: 50%;
  /* transform: translateY(-50%); */
  opacity: 0;
}

.button:hover .movingBlock .movingArrow {
  transition: opacity 0.7s ease;
  opacity: 1;
  animation: rightNLeft 1.3s ease-in-out infinite;
}

@keyframes rightNLeft {
  0% {
    transform: translateX(-50px) translateY(-50%);
  }

  50% {
    transform: translateX(10px) translateY(-50%);
  }

  100% {
    transform: translateX(-50px) translateY(-50%);
  }
}
