.modalTreatment {
  display: flex;
}

.image {
  display: block;
  flex: 1 1 0px;
  object-fit: cover;
}

.info {
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: space-between;
  padding: 70px 40px;
}

.treatmentName {
  color: var(--secondary-color);
  font-size: 32px;
  font-family: "Rosarium";
}

.descriptionWrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.description {
  font-size: 1.125rem;
  color: var(--white);
  font-family: "Montserrat";
  letter-spacing: 0.04rem;
}

.infButton {
  display: inline-flex;
  gap: 4px;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.4s ease;
  font-weight: 600;
  opacity: 0.3;
}

.buttonText {
  font-family: "MontserratAlternates";
  font-size: 14x;
  color: var(--secondary-color);
  position: relative;
  overflow: hidden;
}

.arrow {
  transform: translateY(1px);
}

.infButton:hover {
  opacity: 0.8;
}
