.button {
  align-self: center;
  padding: 16px 62px;
  border: none;
  font-family: inherit;
  cursor: pointer;
  font-size: var(--font-size-button);
  border-radius: 30px;
  font-weight: 500;
  text-transform: uppercase;
  /*styles for icon*/
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease;
  text-align: center;
}

.primary {
  outline: 1px var(--white) solid;
  background-color: var(--white);
  color: var(--cta-button-text);
}

.secondary {
  outline: 1px var(--secondary-color) solid;
  background-color: transparent;
  color: var(--secondary-color);
}

.text {
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease;
}

.fingerprint {
  color: var(--primary-color);
  position: absolute;
  left: 50%;
  bottom: -80%;
  transition:
    transform 0.3s ease,
    color 0.3s ease;
}

.arrowsContainer {
  position: absolute;
  display: flex;
  right: -50%;
  transition:
    right 0.3s ease,
    gap 0.3s ease;
  z-index: 2;
}

/* For arrow appearance animation*/
.arrow:first-of-type {
  transform: translateX(11px);
}

.arrow:last-of-type {
  transform: translateX(-11px);
}

/* Animation */

.button:hover {
  background-color: var(--primary-color);
  color: var(--white);
}

.button:hover .fingerprint {
  transform: scale(70%);
  color: var(--white);
}

.button:hover .text {
  transform: translateX(-16px);
}

.button:hover .arrowsContainer {
  right: 15%;
  gap: 10px;
}

.button:focus-visible {
  outline: var(--primary-color) 3px solid;
}
